<div class="row welcome">
    <div class="col-12 text-center">
        <div class="welcome_text">
            <h1 class="p-3 mb-5">Bienvenido al Polideportivo de La Font d'En Carròs</h1>            
            <p>Entérate de las últimas noticias del deporte municipal</p>            
            <p>Regístrate ahora y podrás realizar las reservas de tus instalaciones preferidas de manera online,
            así como darte de alta como socio del polideportivo, cancelar tu suscripción y consultar los precios
            y detalles de las instalaciones disponibles.</p>            
            <p class="font-italic mt-5">¡Te esperamos pronto!</p>
        </div>    
    </div>    
</div>