h1 {
    border: 1px dotted white;
    font-weight: bold; 
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

.welcome_text {            
    color: white;
    font-weight: bold;  
    margin-top: 4em;
 }

@media (min-width: 992px) {
    .welcome_text {        
       width: 50%;
       margin: auto;
       margin-top: 5em;
    }
}