<div class="page-category mb-5">
    <h1 class="bg-dark py-3 mb-3 text-center text-white">Contacto</h1>
</div>

<div class="col-12 col-xl-6 offset-xl-3">
    <h2>Dirección</h2>
    <p>Plaça del Ajuntament, 22 <br>La Font d'en Carròs, Valencia</p>
    <iframe src="https://maps.google.com/maps?q=pla%C3%A7a%20ajuntament%20de%20la%20font%20d'en%20carr%C3%B2s&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 590px; height: 400px;"></iframe>
    
    <h2 class="mt-4">Teléfono</h2>
    <p>962 83 30 00</p>    
    
    <h2 class="mt-4">Horario</h2>
    <p><em>Lunes a Viernes</em></p>
    <p>8.00 a 14.00</p>
    <p><em>Martes</em></p>
    <p>8:00 a 14:00, 16:00 a 18:30</p>
</div>