<div class="page-category mb-5">
    <h1 class="bg-dark py-3 mb-3 text-center text-white">Tarifas</h1>
</div>

<div class="col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 mb-5">
    <h2 class="text-center mb-3">Tarifas de socio</h2>
    <table class="table table-sm table-borderless">
        <thead class="text-center">
            <tr class="border-bottom">
                <th>Edad</th>
                <th>Precio (anual) <sup>1</sup></th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-bottom">
                <td>Mayores de 18 años</td>
                <td class="text-right">20€</td>
            </tr>
            <tr class="border-bottom">
                <td>Entre 14 y 18 años (ambos inclusive)</td>
                <td class="text-right">10€</td>
            </tr>
            <tr>
                <td>Menores de 14 años</td>
                <td class="text-right">5€</td>
            </tr>        
        </tbody>
    </table>
    <div class="table-legend mb-5">
        <p><sup>1</sup> Se realizará el pago de manera online mediante tarjeta</p>
    </div>

    <h2 class="text-center  mb-3">Tarifa de las instalaciones</h2>
    <table class="table table-sm table-borderless">
        <thead class="text-center">
            <tr class="border-bottom">
                <th class="align-middle">Instalación</th>
                <th>Precio <sup>2</sup></th>
            </tr>
        </thead>
        <tbody>        
            <tr>
                <td rowspan='2' class="align-middle">Fútbol 11</td>
                <td class="text-right">95€</td>            
            </tr>
            <tr class="border-bottom">
                <td class="text-right">Luz: 25€</td>        
            </tr>
            <tr>
                <td rowspan='2' class="align-middle">Fútbol 7</td>
                <td class="text-right">60€</td>            
            </tr>
            <tr class="border-bottom">
                <td class="text-right">Luz: 15€</td>        
            </tr>
            <tr>
                <td rowspan='2' class="align-middle">Pabellón exterior</td>
                <td class="text-right">10€</td>            
            </tr>
            <tr class="border-bottom">
                <td class="text-right">Luz: 5€</td>        
            </tr>
            <tr>
                <td rowspan='2' class="align-middle">Pabellón interior</td>
                <td class="text-right">30€</td>            
            </tr>
            <tr class="border-bottom">
                <td class="text-right">Luz: 6€</td>        
            </tr>
            <tr>
                <td rowspan='3' class="align-middle">Tenis pista dura y frontón (máximo 4 jugadores)</td>
                <td class="text-right">Socios: 4€</td>            
            </tr>
            <tr>
                <td class="text-right">No socios: 5,50€</td>        
            </tr>
            <tr class="border-bottom">
                <td class="text-right">Luz: 2,50€</td>        
            </tr>
            <tr>
                <td rowspan='3' class="align-middle">Tenis tierra batida (máximo 4 jugadores)</td>
                <td class="text-right">Socios: 6€</td>            
            </tr>
            <tr>
                <td class="text-right">No socios: 7,50€</td>        
            </tr>
            <tr class="border-bottom">
                <td class="text-right">Luz: 2,50€</td>        
            </tr>
            <tr>
                <td rowspan='3' class="align-middle">Pádel (máximo 4 jugadores)</td>
                <td class="text-right">Socios: 8€</td>            
            </tr>
            <tr>
                <td class="text-right">No socios: 12€</td>        
            </tr>
            <tr class="border-bottom">
                <td class="text-right">Luz: 3€</td>        
            </tr>
            <tr>
                <td rowspan='2' class="align-middle">Pista de atletismo <sup>3</sup></td>
                <td class="text-right">Socios: 1€</td>            
            </tr>
            <tr class="border-bottom">
                <td class="text-right">No socios: 1,50€</td>        
            </tr>
            <tr>
                <td rowspan='2' class="align-middle">Petanca <sup>3</sup></td>
                <td class="text-right">Socios: 1€</td>            
            </tr>
            <tr class="border-bottom">
                <td class="text-right">No socios: 1,50€</td>        
            </tr>
            <tr>
                <td rowspan='2' class="align-middle">Sauna <sup>3</sup></td>
                <td class="text-right">Socios: 4€</td>            
            </tr>
            <tr class="border-bottom">
                <td class="text-right">No socios: 5€</td>        
            </tr>
            <tr>
                <td rowspan='2' class="align-middle">Sala multiusos</td>
                <td class="text-right">18€</td>            
            </tr>
            <tr>
                <td class="text-right">Luz: 6€</td>        
            </tr>
        </tbody>
    </table>
    <div class="table-legend">
        <p><sup>2</sup> Los precios indicados son por hora y por instalación, salvo que se indique
            lo contrario. Se podrá ampliar la reserva de las instalaciones hasta un máximo de dos horas.
            El precio final se incrementará de manera proporcional al tiempo de la reserva.</p>
        <p><sup>3</sup> Precio por persona</p>
    </div>
</div>